{{ partial "head.html" . }}

<link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
<link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
<link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
<link rel="manifest" href="/site.webmanifest">
<meta name="msapplication-TileColor" content="#da532c">
<meta name="theme-color" content="#ffffff">

<meta property="og:title" content="EGo - Build confidential Go apps with ease​">
<meta property="og:description" content="EGo enables you to build and run Go code for secure enclaves with zero code changes.​">
<meta property="og:image" content="https://www.ego.dev/img/social.png">

<meta name="twitter:title" content="EGo - Build confidential Go apps with ease​">
<meta name="twitter:description" content="EGo enables you to build and run Go code for secure enclaves with zero code changes.​">
<meta name="twitter:image" content=" https://www.ego.dev/img/social.png">
<meta name="twitter:card" content="EGo">

<!-- <div class="top-band"></div> -->
<div class="container mt-lg-4">
  <nav class="navbar navbar-expand-lg navbar-light bg-white">
    <a class="navbar-brand" href="/">
      <img src="/img/logo.svg" width="140px">
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav ml-auto">
        <!-- TODO: docs
        <li class="nav-item">
          <a class="nav-link {{ if eq .Title " Docs" }}active{{ end }}" href="/docs/introduction/">Docs</a>
        </li>
        -->
        <li class="nav-item">
          <a class="nav-link {{ if eq .Title " Community" }}active{{ end }}" href="/community">Community</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="https://github.com/edgelesssys/ego">GitHub</a>
        </li>
        <!-- TODO: link to docs -->
        <li class="nav-item">
          <a href="https://github.com/edgelesssys/ego#quick-start" class="nav-link btn text-white btn-primary ml-3">Get started →</a>
        </li>
      </ul>
    </div>
  </nav>
</div>
