body,
html {
  overscroll-behavior: none;
}

nav {
  transition: all 0.3s ease;
}

pre {
  padding: 16px;
  border-radius: $border-radius;
}

.heading,
h1 {
  font-weight: 700;
}

.subHeading {
  font-weight: 600;
}

i.fa {
  margin-right: 5px;
}

.top-band {
  height: 5px;
  width: 100%;
  background-color: $primary;
  position: relative;
  z-index: 1;

  &:before {
    content: "";
    left: 60%;
    top: 0;
    height: 5px;
    width: 100%;
    background-color: $secondary;
    z-index: 2;
    position: absolute;
  }

  &:after {
    content: "";
    left: 80%;
    top: 0;
    height: 5px;
    width: 100%;
    background-color: $info;
    z-index: 3;
    position: absolute;
  }
}

.docsSidebar {
  h6 {
    font-weight: 600;
  }
  a {
    color: $edg-dark-gray;
  }
}

article {
  img {
    display: block;
    max-width: 100%;
    margin: 30px auto;
  }

  h2 {
    font-size: 22px;
    margin: 30px 0 16px 0;
    font-weight: 600;
  }

  h3 {
    font-size: 18px;
    margin: 30px 0 16px 0;
    font-weight: 600;
  }
}

.heading-highlight {
  display: block;
  margin-bottom: 40px;
  background-color: $edg-dark;
  color: $edg-teal;
  padding-left: .2em;
  border-radius: 8px;
}

.highlight:after {
  content: "";
}

.checked-box {
  display: flex;
  flex: content;
  background-color: $edg-light-gray;
  padding-left: .2em;
  border-radius: 8px;
  width: 100%;
  font-weight: bold;
}

.terminal {
  background-color: #2f2f2f;
  border-radius: 8px;
  max-width: 500px;
  width: 100%;

  .header {
    padding: 10px;

    span {
      display: inline-block;
      margin-right: 4px;
      border-radius: 50px;
      height: 14px;
      width: 14px;
    }

    .closeBtn {
      background-color: #ff5b58;
    }

    .maximize {
      background-color: #febf2f;
    }

    .minimize {
      background-color: #00cf49;
    }
  }

  .window {
    padding: 20px;
    font-family: 'Fira Code', monospace;
    color: rgba(255, 255, 255, 0.7);
  }
}

.hero-oval {
  position: absolute;
  left: 0;
  z-index: -1;
  transform: translateY(0%);
  width: 100%;
}

.yellow-underline:before {
  content: "";
    position: absolute;
    z-index: -1;
    bottom: 0px;
    left: 0px;
    right: 0px;
    width: 100%;
    height: 1em;

    background-color: #5bd9d9;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center bottom;
}

.desktop-space {
  height: 40px;
}

.feature {
  padding: 8px;
  border-radius: 4px;
  transition: all 0.3s ease;

  &:hover {
    background-color: #ededed;
  }
}

.video-holder {
  margin-top: -60px;
}

@media only screen and (max-width: 600px) {
  .video-holder {
    margin-top: -30px;
  }

  .video {
    max-width: 100%;
  }
}
